<div id="black_box">
  <form action="<%= item_path(@item.id) %>" method="post">
    <p>Title: <input type="text" name="item[title]" autofocus value="<%= @item.title %>"></p>
    <p>Condition: <input type="text" name="item[condition]" value="<%= @item.condition %>"></p>
    <p>Description: <input type="text" name="item[description]" value="<%= @item.description %>"></p>
    <p>Price Range: <input type="text" name="item[price_range]" value="<%= @item.price_range %>"></p>
    <p>Image: <input type="text" name="item[image]" value="<%= @item.image %>"></p>
    <button>Update</button>
  </form>
</div>