
<p><%= @item.title %></p>
<p><%= @item.condition %></p>
<p><%= @item.description %></p>
<p><%= @item.price_range %></p>

<%= link_to 'Add another item', new_item_path(@item) %>
<%= link_to 'View Listed Items', item_path(@item) %>