<div id="black_box">
  <form action="<%= sale_path(@sale.id) %>" method="post">
    <p>Start Time: <input type="text" name="sale[start_time]" autofocus value="<%= @sale.start_time %>"></p>
    <p>Finish Time: <input type="text" name="sale[finish_time]" value="<%= @sale.finish_time %>"></p>
    <p>Date: <input type="text" name="sale[date]" value="<%= @sale.date %>"></p>
    <p>Street Number: <input type="text" name="sale[street_number]" value="<%= @sale.street_number %>"></p>
    <p>Street Name: <input type="text" name="sale[street_name]" value="<%= @sale.street_name %>"></p>
    <p>Suburb: <input type="text" name="sale[suburb]" value="<%= @sale.suburb %>"></p>
    <p>State: <input type="text" name="sale[state]" value="<%= @sale.state %>"></p>
    <p>Post Code: <input type="text" name="sale[post_code]" value="<%= @sale.post_code %>"></p>
    <p>Phone Number: <input type="text" name="sale[phone_number]" value="<%= @sale.phone_number %>"></p>
    <p>Price Range: <input type="text" name="sale[price_range]" value="<%= @sale.price_range %>"></p>
    <button>Update</button>
  </form>
</div>