<ul>  
<% for sale in @sale.suburb.nearbys(10) %>  
  <li><%= link_to sale.suburb, sale %> 
    (<%= sale.suburb.distance.round(2) %> miles)</li>  
<% end %>  
</ul<% title "Garage Sales" %>  
  
<p>  
  <strong>Address:</strong>  
  <%= @sale.suburb %>  
</p>  
<p>  
  <strong>Latitude:</strong>  
  <%= @sale.latitude %>  
</p>  
<p>  
  <strong>Longitude:</strong>  
  <%= @sale.longitude %>  
</p>  
  
<h3>Nearby Sales</h3>  
<ul>  
<% for sale in @sale.suburb.nearbys(10) %>  
  <li><%= link_to sale.suburb.address, sale %> 
    (<%= sale.suburb.distance.round(2) %> miles)</li>  
<% end %>  
</ul>  
  
<p>  
  <%= link_to "View All", sales_path %>  
</p> 