<h1><%= @sale.suburb %></h1>

<div id="saleinfo">
<p>Start time: <%= @sale.start_time %></p>
<p>Finish time: <%= @sale.finish_time %></p>
<p>Date: <%= @sale.date %></p>
<p>Street Number: <%= @sale.street_number %></p>
<p>Street Name: <%= @sale.street_name %></p>
<p>Suburb: <%= @sale.suburb %></p>
<p>State: <%= @sale.state %></p>
<p>Post Code: <%= @sale.post_code %></p>
<p>Contact seller on: <%= @sale.phone_number %></p>
<p>Price range: <%= @sale.price_range %></p>
</div>

<div id="links">
<%= link_to 'Back', sales_path(@sale) %>
<%= link_to 'View Listed Items', items_path(@item) %>
</div>




