<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Relove Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Scada:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <img src="images/logo.png">
  </div>
    
  <div class="container">
      <nav>
        <ul>
          <li><%= link_to('Home', root_path) %></li>
          <li><%= link_to('F.A.Q', faq_path) %></li>
          <%== intellinav %>
        </ul>
      </nav>

    <%= yield %>
  </div>

</body>
</html>